* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

section header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    padding: 20px;
}

section header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

section header ul li {
    list-style: none;
    margin-left: 20px;
    padding: 10px;
}

section header ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

section header ul li button {
    background-color: rgb(15, 30, 35);
    padding: 8px 16px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/* main part  */
section .main {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section .main .searchbox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.main .searchbox .search {
    width: 100%;
    padding: 8px 45px;
    border-radius: 30px;
    border: 1px solid gray;
    outline: none;
}

.main .searchbox .icons {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    pointer-events: none;
}

.main .buttons {
    margin: 20px 0;
}

.main .buttons button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #ecf0f1;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    outline: none;

}

.main .buttons button:hover {
    border: 1px solid rgb(219, 214, 214);
}

.main .lang {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7d8284;
}

.main .lang span {
    font-size: 13px;
}

/* fotter part   */

.footer {
    position: absolute;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}

.footer p {
    padding: 20px;
}

.footer .row {
    width: 100%;

    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer .row ul {
    display: flex;
}

.footer .row ul li {
    width: 100%;
    margin-top: 5px;
    list-style: none;

}

.footer .row ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;

    margin-right: 25px;
}

/* mobile view  */


@media (max-width: 768px) {
 
    /* nabbar par  */

    section header ul li button {
        padding: 9px 9px;
        font-size: 10px;

    }

    /* main part  */
    
section .main {
        margin-left: 40px;
    }
    section .main .gogleimg {
        width: 60%;
        margin-right: 20px;
    }


    section .main .searchbox {
        width: 90%;
    }

    .main .searchbox .search {
        width: 90%;
    }

    .main .searchbox .icons {
        width: 90%;
    }

    /* footer part  */
    .footer {
        position: absolute;
        padding: 2px;
    }

    .footer .row {
        width: 100%;
        margin-left: 0px;
        display: block;

    }

} 